idempotent/src/main/mule/idempotent.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="1dafb264-f533-48ab-90f5-088a09e5dc23" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="idempotentFlow" doc:id="2b49513f-375b-49e8-ad23-45d12cf7b10d" >
		<http:listener doc:name="Listener" doc:id="e653c388-ffdc-400a-8c91-65be53f468ba" config-ref="HTTP_Listener_config" path="/id" allowedMethods="POST"/>
		<idempotent-message-validator doc:name="Idempotent Message Validator" doc:id="e04b1386-936d-4dd2-8a81-fed9f67b6374" idExpression="#[payload.id]"/>
		<logger level="INFO" doc:name="Logger" doc:id="15d2dabe-1d44-4e31-9b7d-fc39db6bc12c" message="#[payload]"/>
	</flow>
</mule>
