scopes-concept/src/main/mule/scopes-concept.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="7d4ec1f3-11fa-44b8-b84f-5d36a9f1b42b" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="scopes-conceptFlow" doc:id="27073e60-5a70-4b52-b5e4-0e6e6417dac9" >
		<http:listener doc:name="Listener" doc:id="70c4967a-9cef-436c-bd09-e0cc1691617c" config-ref="HTTP_Listener_config" path="/sc"/>
		<logger level="INFO" doc:name="Logger" doc:id="04dc933b-9a6f-4211-a65e-6bea739c6695" message="#[correlationId]"/>
		<set-payload value='#["anand"]' doc:name='"anand"' doc:id="e0cf3190-8bf1-4f6e-89df-34f88edde12b" />
		<set-payload value='#[payload]' doc:name='"nithin"' doc:id="6e699e72-08ca-45cb-bdc7-860cf88247c9" />
	</flow>
</mule>
