batch-5/src/main/mule/batch-5.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:java="http://www.mulesoft.org/schema/mule/java"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/java http://www.mulesoft.org/schema/mule/java/current/mule-java.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="60391e68-08c3-4c72-a2c6-2a755756e889" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<file:config name="File_Config" doc:name="File Config" doc:id="c9ffe690-abe0-44ed-a82c-d59ca2607ee5" >
		<file:connection workingDir="C:\Users\91955\Desktop\New folder" />
	</file:config>
	<file:config name="File_Config1" doc:name="File Config" doc:id="32be45e0-4b65-4715-92ad-f3b8d4568aeb" >
		<file:connection workingDir="C:\Users\91955\AnypointStudio\studio-workspace\batch-5\src\main\resources\kishi" />
	</file:config>
	<flow name="batch-5Flow" doc:id="84b67359-b934-4fe9-9a7a-601687abc05b" >
		<http:listener doc:name="Listener" doc:id="0a15ba58-4a0a-4d14-83bb-cc634cc62df6" config-ref="HTTP_Listener_config" path="/demo"/>
		<set-variable value="#[attributes.queryParams.id]" doc:name="Set Variable" doc:id="4310ac19-2b3e-4750-b78f-661a87df2c9d" variableName="v1"/>
		<choice doc:name="Choice" doc:id="d156097f-b531-4219-8b6b-dc26f832acae" >
			<when expression="#[vars.v1 ==null]">
				<set-payload value='#["hello world!!!"]' doc:name="Set Payload" doc:id="3a962f6b-7e21-4244-8530-073a17ddafa8" />
			</when>
			<otherwise >
				<tracking:transaction doc:name="Set Transaction Id" doc:id="01f5f3c3-990d-4059-a5c6-385066ed4f5c" id="#[vars.v1]" />
			</otherwise>
		</choice>
	</flow>
</mule>
