ftp/src/main/mule/ftp.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ftp="http://www.mulesoft.org/schema/mule/ftp" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ftp http://www.mulesoft.org/schema/mule/ftp/current/mule-ftp.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="9d95749b-a626-4384-acbd-e12c42c0912b" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<ftp:config name="FTP_Config" doc:name="FTP Config" doc:id="091bd87f-cb4f-4de1-b2bb-53899bc3e1e7" >
		<ftp:connection workingDir="kishore" host="localhost" username="kishore" password="bunny@13" />
	</ftp:config>
	<flow name="ftpFlow" doc:id="e8ab2884-c622-4d14-a591-8eb4e80526af" >
		<http:listener doc:name="Listener" doc:id="5d08ce23-6a30-472f-bef7-b0813e784acf" config-ref="HTTP_Listener_config" path="/ftp"/>
		<ftp:read doc:name="Read" doc:id="91fe1044-4850-40cf-bf9b-fdb571e71853" config-ref="FTP_Config" path="exam.csv"/>
		<logger level="INFO" doc:name="Logger" doc:id="7ff15796-7568-4d08-8bd0-b0ca49f0b72f" message="#[payload]"/>
	</flow>
</mule>
