ftp/src/main/mule/ftp.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce" xmlns:file="http://www.mulesoft.org/schema/mule/file"
	xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:batch="http://www.mulesoft.org/schema/mule/batch" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:ftp="http://www.mulesoft.org/schema/mule/ftp" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ftp http://www.mulesoft.org/schema/mule/ftp/current/mule-ftp.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="9d95749b-a626-4384-acbd-e12c42c0912b" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<ftp:config name="FTP_Config" doc:name="FTP Config" doc:id="091bd87f-cb4f-4de1-b2bb-53899bc3e1e7" >
		<ftp:connection workingDir="kishore" host="localhost" username="kishore" password="bunny@13" />
	</ftp:config>
	<db:config name="Database_Config" doc:name="Database Config" doc:id="ec8c781b-c935-4dbe-9ef4-e9db75240c53" >
		<db:oracle-connection host="localhost" user="SYSTEM" password="veeru" />
	</db:config>
	<file:config name="File_Config" doc:name="File Config" doc:id="90b29589-0b8b-4c1b-b787-ec5cc2231669" >
		<file:connection workingDir="C:\Users\91955\Desktop\kishore\input" />
	</file:config>
	<flow name="ftpFlow" doc:id="e8ab2884-c622-4d14-a591-8eb4e80526af" >
		<scheduler doc:name="Scheduler" doc:id="7f75811a-09ce-473a-a992-df7074528380" >
			<scheduling-strategy >
				<fixed-frequency frequency="8" timeUnit="HOURS"/>
			</scheduling-strategy>
		</scheduler>
		<ftp:read doc:name="Read" doc:id="91fe1044-4850-40cf-bf9b-fdb571e71853" config-ref="FTP_Config" path="exam.csv" />
		<ee:transform doc:name="Transform Message" doc:id="ae5aba9f-a0ce-4acc-a2c4-4f7b09b4c88a" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload  distinctBy $.Id map ( payload01 , indexOfPayload01 ) -> {
	firstname: payload01."First Name",
	lastname: payload01."Last Name",
	age: payload01.Age as Number,
	id: payload01.Id,
	state: payload01.Country
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<batch:job jobName="ftpBatch_Job" doc:id="29230062-fd65-4525-ae8e-6c0b416b6108" >
			<batch:process-records >
				<batch:step name="Batch_Step1" doc:id="17c21568-6f76-43ca-b17a-620eb39f0060" >
					<batch:aggregator doc:name="Batch Aggregator" doc:id="941f2009-26dc-4f03-92ad-50887a4cf1cb" streaming="true">
						<try doc:name="Try" doc:id="298d21bf-8fe9-4ca3-85bd-46849cb0b9ad">
							<db:bulk-insert doc:name="Bulk insert" doc:id="9692583b-aed6-4c99-9642-70d232830e5c" config-ref="Database_Config">
							<db:sql><![CDATA[insert into mar26(firstname,lastname,age,id,state) values(:firstname,:lastname,:age,:id,:state)
]]></db:sql>
						</db:bulk-insert>
						</try>
					</batch:aggregator>
				</batch:step>
				<batch:step name="Batch_Step2" doc:id="9711678f-f343-4b42-9fd0-81cc3cb1eb65" >
					<set-variable value="#[payload.id]" doc:name="Set Variable" doc:id="dea8bad6-aa99-4351-a332-19faa57b27c9" variableName="v1"/>
					<ee:transform doc:name="Transform Message" doc:id="47de4a96-0db6-4630-bb0f-eedc92040d51" >
						<ee:message >
							<ee:set-payload ><![CDATA[%dw 2.0
output application/csv
---
payload]]></ee:set-payload>
						</ee:message>
					</ee:transform>
					<file:write doc:name="Write" doc:id="9a83b556-a4e9-40a4-97f4-5ebb80b9522e" config-ref="File_Config" path='#[vars.v1 ++ ".csv"]'/>
				</batch:step>
			</batch:process-records>
			<batch:on-complete >
				<ee:transform doc:name="Transform Message" doc:id="a408c044-9c37-4150-8961-a854e14ac00b" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload.successfulRecords]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</batch:on-complete>
		</batch:job>
	</flow>
</mule>
